*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(/images/thumb-1920-31835.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.39);
    margin: 30px 90px auto;
}
.container nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container nav .logo{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.6px;
}
.container nav span{
    color: red;
}
.container nav ul{
    list-style: none;
}
.container nav ul li{
    display: inline-block;
}
nav ul li a,
nav .login a{
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    margin-left: 5px;
    font-size: 15px;
}
nav ul li a:hover,
nav .login a:hover{
    color: red;
}
nav button{
    color: #fff;
    background-color: black;
    padding: 5px 15px;
    font-size: 17px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid red;
}
nav button:hover{
    color: red;
    background-color: black;
    border: 1px solid #fff;
}
